section {
  p {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
  }
  a {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    color: #6750A4;
  }
  app-container {
    padding: 112px 0 112px 0;
  }
  figure {
    display: flex;
    justify-content: center;
  }
}
