<section>
  <app-banner
    src="assets/imagens/banner-pagina-nao-encontrada.png"
    alt="Banner da tela de erro - página não encontrada">
  </app-banner>
  <app-container>
    <p>Ops! Página não encontrada!
      <a routerLink="/">Retorne à tela inicial</a>
    </p>
    <figure>
      <img
      src="assets/imagens/pagina-nao-encontrada.png"
      alt="Ilustração de mulher com binóculos e um círculo roxo com número 404">
    </figure>
  </app-container>
  <app-banner
    src="assets/imagens/banner-homepage-rodape.png"
    alt="Banner de rodapé com imagem de homem sentado numa montanha">
  </app-banner>
</section>
